pkgbase = flowgu-bin
	pkgdesc = A modern Flutter client for Luogu (prebuilt binary)
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/FRBLanApps/flowgu
	arch = x86_64
	license = MIT
	depends = gtk3
	provides = flowgu
	conflicts = flowgu
	conflicts = flowgu-git
	source = flowgu-linux-x64.tar.gz::https://github.com/FRBLanApps/flowgu/releases/download/v0.1.0/flowgu-linux-x64.tar.gz
	source = LICENSE::https://raw.githubusercontent.com/FRBLanApps/flowgu/v0.1.0/LICENSE
	sha256sums = 3b554064f3f6f1a0363b5aa0af98dbf5e0bec16eee95de61ff77a1820881b177
	sha256sums = SKIP

pkgname = flowgu-bin
